<a href="https://colab.research.google.com/github/priti7709/r.desc/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=5
y=1.2
z='priti123'
a=True

print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:

if x>5:
  print("Greater")
  if x<5:
    print("less")
else:
      print("Equal")

Equal

In [ ]:
dataset = pd.read_csv("")
print(dataset)

NameError: ignored

In [ ]:
import pandas as pd
df=pd.read_csv("/content/sample_data/california_housing_test.csv")
df.columns
df.dtypes
df.tail(10)
df.describe()
df.max()
df.min()

longitude              -124.1800
latitude                 32.5600
housing_median_age        1.0000
total_rooms               6.0000
total_bedrooms            2.0000
population                5.0000
households                2.0000
median_income             0.4999
median_house_value    22500.0000
dtype: float64

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/ Q7.csv")

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [ ]:
df.mode(numeric_only=True)

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [ ]:
df.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [ ]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [ ]:
print("range is",df.Points.max()-df.Points.min())

range is 2.17

In [ ]:
print("range is",df.Weigh.max()-df.Weigh.min())

range is 8.399999999999999

In [ ]:
print("range is",df.Score.max()-df.Score.min())

range is 3.9110000000000005